:root {
    /* Colors */
    --color-background-backmost: #e1cee6;
    --color-background-element: #c9a3d8;
    --color-placeholder: #c375d3;
    --color-text: #131313;
    --color-text-faint: #4b4b4b;

    /* Sizing */
    --padding-tiny: 5px;
    --padding-small: 10px;
    --padding-medium: 20px;
    --gap-tiny: 10px;
    --gap-small: 20px;
    --gap-medium: 30px;

    /* Font sizes */
    --font-size-title-main: 2em;
    --font-size-title-small: 1.25em;

    /* Misc */
    --border-radius-generic: 10px;
    --border-radius-large: 20px;
}