@import '../util/base.css';
@import 'digestCard.css';
@import 'boardList.css';
@import 'navbar.css';

h1 {
    font-size: var(--font-size-title-main);
    margin-top: var(--padding-small);
    margin-bottom: var(--padding-small);
}