@import 'reset.css';
@import 'fonts.css';
@import 'variables.css';

* {
    box-sizing: border-box;
    overflow-wrap: break-word;
}

/* Reset buttons */
button {
    background-color: unset;
    color: unset;
    font-family: unset;
    font-size: unset;
    text-align: unset;
    border: unset;
}

/* Reset input */
input, textarea {
    color: unset;
    background-color: unset;
    border: unset;
    font-family: unset;
    outline: unset;

    resize: none;
}

*[cloak] {
    display: none;
}

body {
    color: var(--color-text);
    background-color: var(--color-background-backmost);
    font-family: "DM Sans";
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}