@import 'reset.css';
@import 'fonts.css';
@import 'variables.css';

* {
    box-sizing: border-box;
}

* {
    overflow-wrap: break-word;
}

body {
    color: var(--color-text);
    background-color: var(--color-background-backmost);
    font-family: "DM Sans";
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}