.block {
    background-color: var(--color-background-element);
    border-radius: var(--border-radius-generic);

    padding: var(--padding-medium);
    min-width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-tiny);
}
.block.invisible {
    background-color: unset;
}
.block.narrow {
    min-width: 40%;
}

.block > h2, .block > .heading {
    font-size: var(--font-size-title-small);
    font-weight: 600;
}

.block > .row {
    background-color: var(--color-lighten);
    border-radius: var(--border-radius-generic);

    align-self: stretch;
    padding: var(--padding-small);
    margin-top: var(--padding-tiny);
    margin-bottom: var(--padding-tiny);

    display: flex;
    justify-content: space-between;
    gap: var(--gap-tiny);
}

.block .bold {
    font-weight: bold;
}

@container (max-width: 1000px) {
    .block:not(.narrow) {
        min-width: unset;
        align-self: stretch;
    }
}

@container (max-width: 500px) {
    .block > .row {
        flex-direction: column;
    }
}