:root {
    --page-flow-container-margin: 100px;
    --page-flow-container-gap: var(--gap-medium);
}

.page-flow {
    align-self: stretch;

    margin-left: var(--page-flow-container-margin);
    margin-right: var(--page-flow-container-margin);
    margin-bottom: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--page-flow-container-gap);

    container-type: inline-size;
    container-name: page-flow;
}

.container-fullpage-centered {
    width: 100%;
    min-height: 100vh;
    padding: var(--padding-small);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--gap-medium);
}
.container-list.stretched {
    align-self: stretch;
}

@media (max-width: 720px) {
    .page-flow {
        margin-left: var(--padding-small);
        margin-right: var(--padding-small);
    }
}