:root {
    --digest-card-icon-size: 75px;
    --digest-card-header-height: 40px;
    --digest-card-outline-thickness: 4px;
    --digest-card-border-radius: var(--border-radius-generic);

    --digest-card-color-border: var(--color-background-element);
    --digest-card-color-body: var(--color-background-backmost);
    --digest-card-color-text-body: var(--color-text-faint);
    --digest-card-color-text-header: var(--color-text);
    --digest-card-color-icon: var(--color-placeholder);
}

/*
<section class="digest-card">
    <div class="icon"></div>
    <section class="header"><h2>Board Title</h2></section>
    <section class="body"><p>Short board summary</p></section>
</section>
*/

.digest-card {
    background-color: var(--digest-card-color-border);
    border: var(--digest-card-outline-thickness) solid var(--digest-card-color-border);
    border-radius: var(--digest-card-border-radius);

    overflow: clip;
}
.digest-card > .icon {
    background-color: var(--digest-card-color-icon);
    border-radius: calc(var(--digest-card-border-radius) - var(--digest-card-outline-thickness));
    width: var(--digest-card-icon-size);
    height: var(--digest-card-icon-size);
    margin-right: var(--padding-small);

    float: left;
}
.digest-card > .header {
    background-color: var(--digest-card-color-border);
    color: var(--digest-card-color-text-header);
    font-size: var(--font-size-title-small);
    font-weight: 600;

    padding-top: var(--padding-small);
    padding-right: var(--padding-small);
    padding-bottom: var(--padding-small);
    min-height: var(--digest-card-header-height);

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.digest-card > .header > * {
    width: 100%;
}

/* Optional (but probably always used) text body section */
.digest-card > .body {
    background-color: var(--digest-card-color-body);
    color: var(--digest-card-color-text-body);
    font-style: italic;

    padding: var(--padding-small);
    padding-top: var(--padding-tiny);
    min-height: calc(var(--digest-card-icon-size) - var(--digest-card-header-height));
}

/* Optional button section for popups */
.digest-card > .buttons {
    background-color: var(--digest-card-color-body);
    
    padding: var(--padding-small);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: var(--padding-tiny);
    flex-wrap: wrap;

    clear: left;
}
.digest-card > .buttons > button {
    background-color: var(--digest-card-color-border);
    font-weight: 500;
    text-align: center;
    border-radius: var(--digest-card-border-radius);

    padding: var(--padding-tiny);
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
    flex-grow: 1;

    position: relative;
}
.digest-card > .buttons > button:hover { cursor: pointer; }
.digest-card > .buttons > button:hover::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: var(--digest-card-border-radius);

    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
}

/* Optional inputs section */
.digest-card > .inputs {
    background-color: var(--digest-card-color-body);
    
    padding: var(--padding-medium);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--padding-tiny);
    flex-wrap: wrap;

    clear: left;
}
.digest-card > .inputs > input {
    background-color: var(--digest-card-color-border);
    font-weight: 500;
    text-align: center;
    border-radius: var(--digest-card-border-radius);

    padding: var(--padding-tiny);
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
    flex-grow: 1;

    position: relative;
}
.digest-card > .inputs > label:not(:first-child) {
    margin-top: var(--gap-tiny);
}

/* Other versions */

.digest-card.one-color > .body {
    color: unset;
    background-color: var(--digest-card-color-border);
}
.digest-card.one-color > .buttons {
    background-color: var(--digest-card-color-border);
}
.digest-card.one-color > .buttons > button {
    background-color: var(--digest-card-color-body);
}
.digest-card.one-color > .inputs {
    background-color: var(--digest-card-color-border);
}
.digest-card.one-color > .inputs > input {
    background-color: var(--digest-card-color-body);
}

.digest-card.inline-icon > .body {
    clear: left;
}
.digest-card.inline-icon > .icon {
    border-bottom-left-radius: 0;
}

.digest-card.iconless > .icon {
    display: none;
}
.digest-card.iconless > .header {
    padding: var(--padding-small);
}

.digest-card.centered {
    text-align: center;
}

.digest-card.thick-outline {
    --digest-card-outline-thickness: 25px;
}

.digest-card > .body.centered {
    padding: var(--padding-small);
}

.digest-card > .body.highlighted {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius-generic);
}