@import '../util/base.css';
@import 'digest-card.css';
@import 'board-list.css';
@import 'page-head.css';
@import 'navbar.css';
@import 'containers.css';
@import 'block.css';
@import 'button.css';

h1.large {
    font-size: var(--font-size-title-main);
    margin-top: var(--padding-small);
    margin-bottom: var(--padding-small);
}