.page-head {
    background-color: var(--color-background-element);
    /* box-shadow: var(--box-shadow-generic); */
    border-bottom-left-radius: var(--border-radius-generic);
    border-bottom-right-radius: var(--border-radius-generic);

    align-self: stretch;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-head > h1 {
    color: var(--color-text-light);
    font-size: var(--font-size-title-main);
    font-weight: bold;
    margin: var(--padding-medium);
}